https://codeload.github.com/GlobalFishingWatch/gpsdio-segment/tar.gz/0.20.2#egg=gpsdio-segment
https://codeload.github.com/GlobalFishingWatch/pipe-tools/tar.gz/dPIPELINE-84-2#egg=pipe-tools
https://codeload.github.com/GlobalFishingWatch/ShipDataProcess/tar.gz/06b8495f55c6a44306ca9865b4c07d51d7ad5a7b#egg=shipdataprocess
