https://codeload.github.com/GlobalFishingWatch/pipe-tools/tar.gz/bce4392c2b9305ebbbc613b14e1d1389054e318b#egg=pipe-tools-0.1.1
https://codeload.github.com/Skytruth/gpsdio-segment/tar.gz/v0.9#egg=gpsdio-segment-0.9
https://codeload.github.com/GlobalFishingWatch/ShipDataProcess/tar.gz/65c0f744966c225ba1afb6de50870fa3e0591880#egg=shipdataprocess-0.5.0
