https://codeload.github.com/GlobalFishingWatch/pipe-tools/tar.gz/v0.1.2#egg=pipe-tools-0.1.2
https://codeload.github.com/Skytruth/gpsdio-segment/tar.gz/v0.10#egg=gpsdio-segment-0.10
https://codeload.github.com/GlobalFishingWatch/ShipDataProcess/tar.gz/65c0f744966c225ba1afb6de50870fa3e0591880#egg=shipdataprocess-0.5.0
