/*
Group name-normalized identity messages by segment by month
*/

SELECT
  ssvid,
  seg_id,
  min(timestamp) as first_timestamp,
  max(timestamp) as last_timestamp,
  imo,
  shipname,
  callsign,
  n_imo,
  n_shipname,
  n_callsign,
  COUNT(*) AS msg_count,
  SUM(if (lat is null, 0, 1)) as pos_count

FROM table_date_range(
    [{{ source }}],
    timestamp('{{ start_date }}'),
    timestamp('{{ end_date }}')

  )
GROUP BY
  ssvid,
  seg_id,
  imo,
  shipname,
  callsign,
  n_imo,
  n_shipname,
  n_callsign
