#standardSQL
INSERT INTO `{{ dest_table }}` (
  seg_id,
  ssvid,
  first_timestamp,
  last_timestamp,
  first_pos_timestamp,
  last_pos_timestamp,
  msg_count,
  pos_count,
  ident_count,
  shipname,
  callsign,
  imo,
  n_shipname,
  n_callsign,
  n_imo,
  shiptype,
  length,
  width,
  noise
)
SELECT
  seg_id,
  ssvid,
  first_msg_of_day_timestamp as first_timestamp,
  last_msg_of_day_timestamp as last_timestamp,
  first_msg_of_day_timestamp AS first_pos_timestamp,
  last_msg_of_day_timestamp AS last_pos_timestamp,
  message_count AS msg_count,
  (SELECT SUM(x.count) FROM UNNEST(transponders) x) AS pos_count, -- Approximate, misses type 27 messages
  (SELECT SUM(x.count) FROM UNNEST(shipnames) x) AS ident_count, -- Approximate, misses when no shipname broadcast
  (SELECT ARRAY_AGG(STRUCT(x.value, x.count)) FROM UNNEST(shipnames) x) AS shipname,
  (SELECT ARRAY_AGG(STRUCT(x.value, x.count)) FROM UNNEST(callsigns) x) AS callsign,
  (SELECT ARRAY_AGG(STRUCT(x.value, x.count)) FROM UNNEST(imos) x) AS imo,
  NULL AS n_shipname,
  NULL AS n_callsign,
  NULL AS n_imo,
  NULL AS shiptype,
  NULL AS length,
  NULL AS width,
  FALSE AS noise
FROM
  `{{ segments }}` 
