/*
Group name-normalized identity messages by segment by month
*/

SELECT
  ssvid,
  seg_id,
  min(timestamp) as first_timestamp,
  max(timestamp) as last_timestamp,
  imo,
  shipname,
  callsign,
  n_imo,
  n_shipname,
  n_callsign,
  COUNT(*) AS msg_count,
  SUM(if (lat is null, 0, 1)) as pos_count

FROM table_date_range(
    [{{ var.value.PROJECT_ID }}:{{ var.value.PIPELINE_DATASET }}.{{ params.messages_table }}],
    timestamp('{{ execution_date.replace(day=1) }}'),
    timestamp('{{ execution_date.replace(day=1) + macros.dateutil.relativedelta.relativedelta(months=1, days=-1) }}')
  )
GROUP BY
  ssvid,
  seg_id,
  imo,
  shipname,
  callsign,
  n_imo,
  n_shipname,
  n_callsign
