{% import 'most_common.sql.j2' as most_common with context %}
SELECT
 seg_id, ssvid, msg_count, pos_count,
 n_imo, n_imo_count,
 n_shipname, n_shipname_count,
 n_callsign, n_callsign_count,
 concat (SUBSTR(hex_seg_grp,0,8),
    '-',
    SUBSTR(hex_seg_grp,9,4),
    '-',
    SUBSTR(hex_seg_grp,13,4),
    '-',
    SUBSTR(hex_seg_grp,17,4),
    '-',
    SUBSTR(hex_seg_grp,21,12) ) AS vessel_id

FROM (

    SELECT seg_id, ssvid, msg_count, pos_count,
        n_imo, n_imo_count,
        n_shipname, n_shipname_count,
        n_callsign, n_callsign_count,
        LOWER(CONCAT(
            HEX_STRING(HASH('AIS')),
            HEX_STRING(HASH(
            concat(
                string(ssvid), ':',
                string(ifnull(n_imo, 0)), ':',
                IF (n_imo is NULL,
                    CONCAT(
                        ifnull(n_shipname, ''), ':',
                        ifnull(n_callsign,'')
                    ),
                    ':'
                )
            )))
        )) as hex_seg_grp

    FROM (
        SELECT
            all_segs.ssvid as ssvid,
            all_segs.seg_id as seg_id,
            all_segs.msg_count as msg_count,
            all_segs.pos_count as pos_count,
            ident_segs.n_imo as n_imo,
            ident_segs.n_imo_count as n_imo_count,
            ident_segs.n_callsign as n_callsign,
            ident_segs.n_callsign_count as n_callsign_count,
            ident_segs.n_shipname as n_shipname,
            ident_segs.n_shipname_count as  n_shipname_count
        FROM(

            SELECT ssvid, seg_id, SUM(msg_count) as msg_count, SUM(pos_count) as pos_count
            FROM [{{ var.value.PROJECT_ID }}:{{ var.value.PIPELINE_DATASET }}.{{ params.identity_messages_table }}{{ execution_date.replace(day=1).strftime("%Y%m%d") }}],
            GROUP BY ssvid, seg_id

         ) all_segs
        LEFT JOIN (
            SELECT
                COALESCE(AB.ssvid, C.ssvid) as ssvid,
                COALESCE(AB.seg_id, C.seg_id) as seg_id,
                n_imo, n_imo_count,
                n_callsign, n_callsign_count,
                n_shipname, n_shipname_count
            FROM (
                select
                    COALESCE(A.ssvid, B.ssvid) as ssvid,
                    COALESCE(A.seg_id, B.seg_id) as seg_id,
                    n_imo, n_imo_count,
                    n_callsign, n_callsign_count
                from ( {{ most_common.subquery(field='n_imo')}} ) A
                full outer join each ( {{ most_common.subquery(field='n_callsign') }} ) B on A.seg_id = B.seg_id
            ) AB

            full outer join each ( {{ most_common.subquery(field='n_shipname') }} ) C on AB.seg_id = C.seg_id
        ) ident_segs
        ON all_segs.seg_id = ident_segs.seg_id
    )
)